 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Cousre Code</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Enter course code">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Course Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Enter course name">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">credits</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Enter the number of credits">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Cohorts</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Enter the cohorts">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Prerequizites</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Enter Prerequizites">
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>